<launch>
  <arg name="orb_slam"  default="false"/>

  <include file="$(find freenect_launch)/launch/freenect.launch">
     <arg name="data_skip" value="2" /> 
     <arg name="depth_registration" value="True" />
     
     <arg 		                 name="rgb_processing"                  value="true"/>
     <arg if="$(arg orb_slam)" name="ir_processing" 		              value="false"/>
     <arg if="$(arg orb_slam)" name="depth_processing"                value="false"/>
     <arg 		                 name="depth_registered_processing"     value="true"/>
     <arg if="$(arg orb_slam)" name="disparity_processing"            value="false"/>
     <arg if="$(arg orb_slam)" name="disparity_registered_processing" value="false"/>
     <arg 		                 name="hw_registered_processing"        value="true" />
     <arg if="$(arg orb_slam)" name="sw_registered_processing"        value="false" />
     <arg name="rgb_camera_info_url"   value="package://wheele/config/rgb_B00362722000129B.yaml" />
     <arg name="depth_camera_info_url" value="package://wheele/config/depth_B00362722000129B.yaml" />

  </include>

  <arg name="rate"  default="5"/>
  <arg name="approx_sync" default="true" /> <!-- true for freenect driver -->
  <arg name="rgbd_sync" default="true"/>

  <!-- Use same nodelet used by Freenect/OpenNI -->
  <group ns="camera">
    <node if="$(arg rgbd_sync)" pkg="nodelet" type="nodelet" name="rgbd_sync" args="load rtabmap_ros/rgbd_sync camera_nodelet_manager" output="screen">
      <param name="compressed_rate"  type="double" value="$(arg rate)"/>
      <param name="approx_sync"      type="bool"   value="$(arg approx_sync)"/>

      <remap from="rgb/image"       to="rgb/image_rect_color"/>
      <remap from="depth/image"     to="depth_registered/image_raw"/>
      <remap from="rgb/camera_info" to="rgb/camera_info"/>

      <remap from="rgbd_image"      to="rgbd_image"/>
    </node>

    <node unless="$(arg rgbd_sync)" pkg="nodelet" type="nodelet" name="data_throttle" args="load rtabmap_ros/data_throttle camera_nodelet_manager" output="screen">
      <param name="rate"         type="double" value="$(arg rate)"/>
      <param name="approx_sync"  type="bool"   value="$(arg approx_sync)"/>

      <remap from="rgb/image_in"       to="rgb/image_rect_color"/>
      <remap from="depth/image_in"     to="depth_registered/image_raw"/>
      <remap from="rgb/camera_info_in" to="rgb/camera_info"/>

      <remap from="rgb/image_out"       to="throttled/rgb/image_rect_color"/>
      <remap from="depth/image_out"     to="throttled/depth_registered/image_raw"/>
      <remap from="rgb/camera_info_out" to="throttled/rgb/camera_info"/>
    </node>
  </group>      
</launch>
