<launch>  
    <arg name="using_rpi"  default="false"/>
    <arg name="rgbd"  default="true"/>

    <node pkg="master_discovery_fkie" type="master_discovery" name="master_discovery" output="screen"> 
        <param name="mcast_group" value="224.0.0.1" type= "str" />
         <!-- the test rate of ROS master state in Hz (Default: 1 Hz). -->
        <param name="rosmaster_hz" value="1" />
        <!-- the send rate of the heartbeat packets in hz. Zero disables the heartbeats. (Default: 0.02 Hz)
        Only values between 0.1 and 25.5 are used to detemine the link quality. -->
        <param name="heartbeat_hz" value="0.02" />
        <!-- the count of intervals (1 sec) used for a quality calculation. If
        `HEARTBEAT_HZ` is smaller then 1, `MEASUREMENT_INTERVALS` will be divided
        by `HEARTBEAT_HZ` value.
        (Default: 5 sec are used to determine the link qaulity) -->
        <param name="measurement_intervals" value="5" />
        <!-- the timeout is defined by calculated measurement duration multiplied by `TIMEOUT_FAKTOR`. -->
        <param name="timeout_factor" value="10" />
        <!-- remove an offline host after this time in [sec] (Default: 300 sec). -->
        <param name="remove_after" value="300" />
        <!-- send an update request, if after this time no heartbeats are received [sec] (Default: 60 sec). -->
        <param name="active_request_after" value="60" />
    </node>

    <!-- To use RPi -->
    <node if="$(arg using_rpi)" pkg="master_sync_fkie" type="master_sync" name="master_sync" output="screen"> 
      <!--  <param name="_ignore_nodes" value="[camera/ir/*,]"/>     -->
    </node>    
    <include  if="$(arg using_rpi)" file="$(find freenect_launch)/launch/kinect_orb.launch">
     <arg name="data_skip" value="2" />
     <arg name="depth_registration" value="True" />
     <!--  <arg name="depth_camera_info_url" default="$(find wheele)/config/KINECT.yaml" /> -->
     </include>

    <!-- To use PC -->
    <group unless="$(arg using_rpi)">
      
      <node pkg="master_sync_fkie" type="master_sync" name="master_sync" output="screen"> 
      <!-- Can be param or rosparam, idk. -->
      <!--   <param name="_ignore_nodes" value="[camera/ir/*,camera/depth/*]"/>  -->
      </node>

      <!-- PROBLEMS: ORB_SLAM2 ESTA EN UN CATKIN Y WHEELE EN OTRO DISTINTO. ¿COMO PODER HACERLO PSEUDO GENERICO?
          ESTE LAUNCH SOLO VALIDO PARA EL PC DE MARCO-->
      <include if="$(arg rgbd)" file="/home/marrcogrova/catkinBl_ws/src/orb_slam_2_ros/ros/launch/orb_slam2_kinect_rgbd.launch" /> 
      <include unless="$(arg rgbd)" file="/home/marrcogrova/catkinBl_ws/src/orb_slam_2_ros/ros/launch/orb_slam2_kinect_mono.launch" /> 
      
      <node type="rviz" name="rviz" pkg="rviz" args="-d /home/marrcogrova/SLAM_Wheel-E/Software/ROS/catkin_ws/src/wheele/config/cnfg_orbslam2.rviz" />
    </group>

</launch>
