<launch>

    <arg name="joystick" default="false"/>

    <!-- Node to read encoders -->
    <node pkg="wheele" type="wheel_encoder" name="wheel_encoder" output="screen" launch-prefix="sudo su">
        <param name="gpio" default="[16,20,21,13,19,26]"/>
    </node>

    <!-- Establish RPi-Arduino serial communication -->
    <node pkg="wheele" type="serial_com.py" name="serial_com.py" output="screen" />

    <!-- Launch Robot Localization pkg -> Basicly EKF -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
    <rosparam command="load" file="$(find wheele)/config/ekf_template_wheele.yaml" />

    <remap from="odometry/filtered" to="odom_ekf"/>
    <remap from="accel/filtered" to="accel_ekf"/>
  </node>
    
    <!-- Launch camera drivers -->
    <include  file="$(find wheele)/launch/freenect_throttle.launch">
        <arg name="rate"  value="10"/>
        <arg name="approx_sync" value="true" />
        <arg name="rgbd_sync" value="true"/> 
        <arg name="orb_slam" value="false"/> 
    </include>

    <!-- Odometry of diff robot (Wheele)-->
    <node pkg="wheele" type="wheele_odom" name="wheele_odom" output="screen" /> 

    <!-- Teleoperation nodes -->
    <include if="(arg joystick)" file="$(find teleop_twist_joy)/launch/teleop.launch"/>
    <node unless="(arg joystick)" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard.py" output="screen" />

    <!-- IMU pkgs -->
    <node name="imu_talker" pkg="mpu6050_imu" type="talker.py" output="screen" />
        
    <include file="$(find imu_calib)/launch/mpu6050_applyCalib.launch" />

</launch>
