<launch>
  <!--         Sync freenect launch          -->


  <node name="zeroconf" pkg="master_discovery_fkie" type="zeroconf"/>

  <include file="$(find freenect_launch)/launch/freenect.launch">
    <arg name="depth_registration"               value="True"/>
    <arg name="data_skip"			 value="4"  />
  </include>
</launch>


